.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.VidWrapper{
  position: relative;
  width: 640px;
  display:inline-block
}
.song{
  white-space: nowrap; 
  width: 250px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
#queue{
  padding:2px 8px 8px 8px;
  width: 350px;
  box-shadow: rgb(187,187,1870) 0px 2px 8px;
  margin-right:0px;

}

#chat{
  padding:2px 8px 8px 8px;
  width: 300px;
  box-shadow: rgb(187,187,1870) 0px 2px 8px;
  margin-right:0px;
}

